dist/ptyprocess-1.0.0-py3-none-any.whl
dist/blib2to3-1.0.0-py3-none-any.whl
dist/executing-1.0.0-py3-none-any.whl
dist/idna-1.0.0-py3-none-any.whl
dist/jedi-1.0.0-py3-none-any.whl
dist/traitlets-1.0.0-py3-none-any.whl
dist/asttokens-1.0.0-py3-none-any.whl
dist/pathspec-1.0.0-py3-none-any.whl
dist/requests-1.0.0-py3-none-any.whl
dist/wcwidth-1.0.0-py3-none-any.whl
dist/packaging-1.0.0-py3-none-any.whl
dist/isort-1.0.0-py3-none-any.whl
dist/appnope-1.0.0-py3-none-any.whl
dist/flake8-1.0.0-py3-none-any.whl
dist/wheel-1.0.0-py3-none-any.whl
dist/IPython-1.0.0-py3-none-any.whl
dist/tomli-1.0.0-py3-none-any.whl
dist/parso-1.0.0-py3-none-any.whl
dist/urllib3-1.0.0-py3-none-any.whl
dist/pkg_resources-1.0.0-py3-none-any.whl
dist/stack_data-1.0.0-py3-none-any.whl
dist/click-1.0.0-py3-none-any.whl
dist/ipdb-1.0.0-py3-none-any.whl
dist/blackd-1.0.0-py3-none-any.whl
dist/charset_normalizer-1.0.0-py3-none-any.whl
dist/backcall-1.0.0-py3-none-any.whl
dist/pip-1.0.0-py3-none-any.whl
dist/pexpect-1.0.0-py3-none-any.whl
dist/pure_eval-1.0.0-py3-none-any.whl
dist/platformdirs-1.0.0-py3-none-any.whl
dist/pyflakes-1.0.0-py3-none-any.whl
dist/matplotlib_inline-1.0.0-py3-none-any.whl
dist/certifi-1.0.0-py3-none-any.whl
dist/black-1.0.0-py3-none-any.whl
