import setuptools



setuptools.setup(

    name="$name",

    version="1.0.0",

    description="$name generated via env_freeze",

    packages=["$name"],
    
    package_dir={"$name": "$name"},

    include_package_data=True,

)
